Mimosa.Apartment.Silverlight.UI/Service References/ApartmentService/ApartmentService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49555/Services/ApartmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AspUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
      <xs:element minOccurs="0" name="CanDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailedPasswordAnswerAttemptCount" type="xs:int" />
      <xs:element minOccurs="0" name="FailedPasswordAnswerAttemptWindowStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FailedPasswordAttemptCount" type="xs:int" />
      <xs:element minOccurs="0" name="FailedPasswordAttemptWindowStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InputPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLockedOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsResetPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSavedQAError" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastActivityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLockoutDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLoginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastPasswordChangedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoweredEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoweredUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinRoleLevel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MobileAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewGenPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordFormat" type="xs:int" />
      <xs:element minOccurs="0" name="PasswordQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordSalt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderUserKey" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspUser" nillable="true" type="tns:AspUser" />
  <xs:complexType name="ArrayOfRoleComponentPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleComponentPermission" nillable="true" type="tns:RoleComponentPermission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleComponentPermission" nillable="true" type="tns:ArrayOfRoleComponentPermission" />
  <xs:complexType name="RoleComponentPermission">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="ComponentId" type="xs:int" />
          <xs:element minOccurs="0" name="ComponentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsCustom" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="RoleComponentPermissionId" type="xs:int" />
          <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WriteRight" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoleComponentPermission" nillable="true" type="tns:RoleComponentPermission" />
  <xs:complexType name="Record">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Concurrency" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CreatedAndUpdatedText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsChecked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdatedText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RecordInformationText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Record" nillable="true" type="tns:Record" />
  <xs:complexType name="Organisation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthorisationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CanDelete" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContactInformation" nillable="true" type="tns:ContactInformation" />
          <xs:element minOccurs="0" name="ContactInformationId" type="xs:int" />
          <xs:element minOccurs="0" name="DisplayIndex" type="xs:int" />
          <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrgAdminUsers" nillable="true" type="tns:ArrayOfUserRoleAuth" />
          <xs:element minOccurs="0" name="OrganisationId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Organisation" nillable="true" type="tns:Organisation" />
  <xs:complexType name="ContactInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactInformationId" type="xs:int" />
          <xs:element minOccurs="0" name="ContactTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactInformation" nillable="true" type="tns:ContactInformation" />
  <xs:complexType name="ArrayOfUserRoleAuth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRoleAuth" nillable="true" type="tns:UserRoleAuth" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRoleAuth" nillable="true" type="tns:ArrayOfUserRoleAuth" />
  <xs:complexType name="UserRoleAuth">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsCustom" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Site" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteGroupId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserRoleAuthId" type="xs:int" />
          <xs:element minOccurs="0" name="WholeOrg" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="WriteRight" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserRoleAuth" nillable="true" type="tns:UserRoleAuth" />
  <xs:complexType name="Site">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="AbbreviatedName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Availability" type="xs:int" />
          <xs:element minOccurs="0" name="CanDelete" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContactInformation" nillable="true" type="tns:ContactInformation" />
          <xs:element minOccurs="0" name="ContactInformationID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DisplayIndex" type="xs:int" />
          <xs:element minOccurs="0" name="HotelId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsChecked" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="LicenseKey" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganisationId" type="xs:int" />
          <xs:element minOccurs="0" name="PropCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteId" type="xs:int" />
          <xs:element minOccurs="0" name="StarRating" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Site" nillable="true" type="tns:Site" />
  <xs:complexType name="TagVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagVersionID" type="xs:int" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagVersion" nillable="true" type="tns:TagVersion" />
  <xs:complexType name="ArrayOfCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountry" nillable="true" type="tns:ArrayOfCountry" />
  <xs:complexType name="Country">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountryId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="ArrayOfContactInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactInformation" nillable="true" type="tns:ContactInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactInformation" nillable="true" type="tns:ArrayOfContactInformation" />
  <xs:complexType name="ArrayOfOrganisation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organisation" nillable="true" type="tns:Organisation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganisation" nillable="true" type="tns:ArrayOfOrganisation" />
  <xs:complexType name="ArrayOfAspUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspUser" nillable="true" type="tns:AspUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspUser" nillable="true" type="tns:ArrayOfAspUser" />
  <xs:complexType name="ArrayOfSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Site" nillable="true" type="tns:Site" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSite" nillable="true" type="tns:ArrayOfSite" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactInformation" nillable="true" type="tns:ContactInformation" />
          <xs:element minOccurs="0" name="ContactInformationId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameWithStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShippingContactInformationId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfComponent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Component" nillable="true" type="tns:Component" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComponent" nillable="true" type="tns:ArrayOfComponent" />
  <xs:complexType name="Component">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="ComponentId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Component" nillable="true" type="tns:Component" />
  <xs:complexType name="ArrayOfAspRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspRole" nillable="true" type="tns:AspRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspRole" nillable="true" type="tns:ArrayOfAspRole" />
  <xs:complexType name="AspRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
      <xs:element minOccurs="0" name="CanDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoweredRoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspRole" nillable="true" type="tns:AspRole" />
  <xs:complexType name="ArrayOfEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Equipment" nillable="true" type="tns:Equipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipment" nillable="true" type="tns:ArrayOfEquipment" />
  <xs:complexType name="Equipment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EquipmentId" type="xs:int" />
          <xs:element minOccurs="0" name="EquipmentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrganisationId" type="xs:int" />
          <xs:element minOccurs="0" name="RealPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="RentPrice" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Equipment" nillable="true" type="tns:Equipment" />
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
  <xs:complexType name="Service">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganisationId" type="xs:int" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
  <xs:complexType name="ArrayOfRoomType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomType" nillable="true" type="tns:RoomType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomType" nillable="true" type="tns:ArrayOfRoomType" />
  <xs:complexType name="RoomType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganisationId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RoomTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoomType" nillable="true" type="tns:RoomType" />
  <xs:complexType name="ArrayOfRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom" nillable="true" type="tns:ArrayOfRoom" />
  <xs:complexType name="Room">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="BasePrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="MeterSquare" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="RoomEquipments" nillable="true" type="tns:ArrayOfRoomEquipment" />
          <xs:element minOccurs="0" name="RoomId" type="xs:int" />
          <xs:element minOccurs="0" name="RoomName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoomServices" nillable="true" type="tns:ArrayOfRoomService" />
          <xs:element minOccurs="0" name="RoomStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoomStatusId" type="xs:int" />
          <xs:element minOccurs="0" name="RoomType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoomTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="SiteId" type="xs:int" />
          <xs:element minOccurs="0" name="Width" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:complexType name="ArrayOfRoomEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomEquipment" nillable="true" type="tns:RoomEquipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomEquipment" nillable="true" type="tns:ArrayOfRoomEquipment" />
  <xs:complexType name="RoomEquipment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Equipment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EquipmentId" type="xs:int" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="RoomEquipmentId" type="xs:int" />
          <xs:element minOccurs="0" name="RoomId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoomEquipment" nillable="true" type="tns:RoomEquipment" />
  <xs:complexType name="ArrayOfRoomService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomService" nillable="true" type="tns:RoomService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomService" nillable="true" type="tns:ArrayOfRoomService" />
  <xs:complexType name="RoomService">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="RoomId" type="xs:int" />
          <xs:element minOccurs="0" name="RoomServiceId" type="xs:int" />
          <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoomService" nillable="true" type="tns:RoomService" />
</xs:schema>