Mimosa.Apartment.Silverlight.UI/Service References/ApartmentService/ApartmentService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:49555/Services/ApartmentService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:49555/Services/ApartmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49555/Services/ApartmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Web.UI" />
      <xsd:import schemaLocation="http://localhost:49555/Services/ApartmentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ApartmentService_SelectSessionId_InputMessage">
    <wsdl:part name="parameters" element="SelectSessionId" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_SelectSessionId_OutputMessage">
    <wsdl:part name="parameters" element="SelectSessionIdResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_GetGlobalVariable_InputMessage">
    <wsdl:part name="parameters" element="GetGlobalVariable" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_GetGlobalVariable_OutputMessage">
    <wsdl:part name="parameters" element="GetGlobalVariableResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_GetAppSettings_InputMessage">
    <wsdl:part name="parameters" element="GetAppSettings" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_GetAppSettings_OutputMessage">
    <wsdl:part name="parameters" element="GetAppSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_GetUserLogin_InputMessage">
    <wsdl:part name="parameters" element="GetUserLogin" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_GetUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="GetUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_GetAspUser_InputMessage">
    <wsdl:part name="parameters" element="GetAspUser" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_GetAspUser_OutputMessage">
    <wsdl:part name="parameters" element="GetAspUserResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_ListAspUser_InputMessage">
    <wsdl:part name="parameters" element="ListAspUser" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_ListAspUser_OutputMessage">
    <wsdl:part name="parameters" element="ListAspUserResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_UnlockAspUser_InputMessage">
    <wsdl:part name="parameters" element="UnlockAspUser" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_UnlockAspUser_OutputMessage">
    <wsdl:part name="parameters" element="UnlockAspUserResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_SaveAspUser_InputMessage">
    <wsdl:part name="parameters" element="SaveAspUser" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_SaveAspUser_OutputMessage">
    <wsdl:part name="parameters" element="SaveAspUserResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_ListCountry_InputMessage">
    <wsdl:part name="parameters" element="ListCountry" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_ListCountry_OutputMessage">
    <wsdl:part name="parameters" element="ListCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_ListContactInformation_InputMessage">
    <wsdl:part name="parameters" element="ListContactInformation" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_ListContactInformation_OutputMessage">
    <wsdl:part name="parameters" element="ListContactInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_SaveContactInformation_InputMessage">
    <wsdl:part name="parameters" element="SaveContactInformation" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_SaveContactInformation_OutputMessage">
    <wsdl:part name="parameters" element="SaveContactInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_ListCustomer_InputMessage">
    <wsdl:part name="parameters" element="ListCustomer" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_ListCustomer_OutputMessage">
    <wsdl:part name="parameters" element="ListCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_SaveCustomer_InputMessage">
    <wsdl:part name="parameters" element="SaveCustomer" />
  </wsdl:message>
  <wsdl:message name="ApartmentService_SaveCustomer_OutputMessage">
    <wsdl:part name="parameters" element="SaveCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ApartmentService">
    <wsdl:operation name="SelectSessionId">
      <wsdl:input wsaw:Action="urn:ApartmentService/SelectSessionId" message="ApartmentService_SelectSessionId_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/SelectSessionIdResponse" message="ApartmentService_SelectSessionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGlobalVariable">
      <wsdl:input wsaw:Action="urn:ApartmentService/GetGlobalVariable" message="ApartmentService_GetGlobalVariable_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/GetGlobalVariableResponse" message="ApartmentService_GetGlobalVariable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppSettings">
      <wsdl:input wsaw:Action="urn:ApartmentService/GetAppSettings" message="ApartmentService_GetAppSettings_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/GetAppSettingsResponse" message="ApartmentService_GetAppSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLogin">
      <wsdl:input wsaw:Action="urn:ApartmentService/GetUserLogin" message="ApartmentService_GetUserLogin_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/GetUserLoginResponse" message="ApartmentService_GetUserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAspUser">
      <wsdl:input wsaw:Action="urn:ApartmentService/GetAspUser" message="ApartmentService_GetAspUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/GetAspUserResponse" message="ApartmentService_GetAspUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAspUser">
      <wsdl:input wsaw:Action="urn:ApartmentService/ListAspUser" message="ApartmentService_ListAspUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/ListAspUserResponse" message="ApartmentService_ListAspUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlockAspUser">
      <wsdl:input wsaw:Action="urn:ApartmentService/UnlockAspUser" message="ApartmentService_UnlockAspUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/UnlockAspUserResponse" message="ApartmentService_UnlockAspUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAspUser">
      <wsdl:input wsaw:Action="urn:ApartmentService/SaveAspUser" message="ApartmentService_SaveAspUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/SaveAspUserResponse" message="ApartmentService_SaveAspUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="urn:ApartmentService/ChangePassword" message="ApartmentService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/ChangePasswordResponse" message="ApartmentService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCountry">
      <wsdl:input wsaw:Action="urn:ApartmentService/ListCountry" message="ApartmentService_ListCountry_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/ListCountryResponse" message="ApartmentService_ListCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListContactInformation">
      <wsdl:input wsaw:Action="urn:ApartmentService/ListContactInformation" message="ApartmentService_ListContactInformation_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/ListContactInformationResponse" message="ApartmentService_ListContactInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveContactInformation">
      <wsdl:input wsaw:Action="urn:ApartmentService/SaveContactInformation" message="ApartmentService_SaveContactInformation_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/SaveContactInformationResponse" message="ApartmentService_SaveContactInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCustomer">
      <wsdl:input wsaw:Action="urn:ApartmentService/ListCustomer" message="ApartmentService_ListCustomer_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/ListCustomerResponse" message="ApartmentService_ListCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCustomer">
      <wsdl:input wsaw:Action="urn:ApartmentService/SaveCustomer" message="ApartmentService_SaveCustomer_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApartmentService/SaveCustomerResponse" message="ApartmentService_SaveCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>