Mimosa.Apartment.Silverlight.UI/Service References/ApartmentService/ApartmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49555/Services/ApartmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Web.UI" />
  <xs:import schemaLocation="http://localhost:49555/Services/ApartmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:49555/Services/ApartmentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" />
  <xs:import schemaLocation="http://localhost:49555/Services/ApartmentService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SelectSessionId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSessionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectSessionIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLogin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Web.UI" minOccurs="0" name="GetUserLoginResult" nillable="true" type="q1:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Web.UI" minOccurs="0" name="GetAppSettingsResult" nillable="true" type="q2:AppSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalVariable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Web.UI" minOccurs="0" name="GetGlobalVariableResult" nillable="true" type="q3:GlobalVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAspUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAspUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="GetAspUserResult" nillable="true" type="q5:AspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAspUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="aspUser" nillable="true" type="q6:AspUser" />
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAspUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAspUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockAspUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="oldUser" nillable="true" type="q7:AspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockAspUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="UnlockAspUserResult" nillable="true" type="q8:AspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAspUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveUser" nillable="true" type="q9:AspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAspUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="SaveAspUserResult" nillable="true" type="q10:AspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListCountryResult" nillable="true" type="q11:ArrayOfCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListContactInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contactInfoId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListContactInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListContactInformationResult" nillable="true" type="q12:ArrayOfContactInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContactInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q13:ArrayOfContactInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContactInformationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOrganisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" nillable="true" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOrganisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListOrganisationResult" nillable="true" type="q15:ArrayOfOrganisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOrgAdminAspUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOrgAdminAspUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListOrgAdminAspUserResult" nillable="true" type="q17:ArrayOfAspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrganisations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q18:ArrayOfOrganisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrganisationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organisationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="GetOrganisationResult" nillable="true" type="q19:Organisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganisationByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorisationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganisationByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="GetOrganisationByCodeResult" nillable="true" type="q20:Organisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="showLegacy" type="xs:boolean" />
        <xs:element minOccurs="0" name="loadContact" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListSiteResult" nillable="true" type="q21:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q22:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeLegacy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListCustomerResult" nillable="true" type="q23:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q24:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="SaveCustomerResult" nillable="true" type="q25:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAspUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" nillable="true" type="q26:guid" />
        <xs:element minOccurs="0" name="isLegacy" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAspUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListAspUserResult" nillable="true" type="q27:ArrayOfAspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="startsWith" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListUserNameResult" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMembershipUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMembershipUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMembershipUserNameResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="componentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListComponentResult" nillable="true" type="q29:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoleComponentPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" nillable="true" type="q30:guid" />
        <xs:element minOccurs="0" name="componentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoleComponentPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListRoleComponentPermissionResult" nillable="true" type="q31:ArrayOfRoleComponentPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoleComponentPermissionByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" nillable="true" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoleComponentPermissionByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListRoleComponentPermissionByUserResult" nillable="true" type="q33:ArrayOfRoleComponentPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoleComponentPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q34:ArrayOfRoleComponentPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoleComponentPermissionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAspRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" nillable="true" type="q35:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAspRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListAspRoleResult" nillable="true" type="q36:ArrayOfAspRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAspRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q37:ArrayOfAspRole" />
        <xs:element minOccurs="0" name="currentUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAspRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserRoleAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:int" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" nillable="true" type="q38:guid" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" nillable="true" type="q39:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserRoleAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListUserRoleAuthResult" nillable="true" type="q40:ArrayOfUserRoleAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserRoleAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q41:ArrayOfUserRoleAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserRoleAuthResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organisationId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="equipmentId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="showLegacy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEquipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListEquipmentResult" nillable="true" type="q42:ArrayOfEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q43:ArrayOfEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organisationId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="showLegacy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListServiceResult" nillable="true" type="q44:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q45:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoomType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organisationId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="showLegacy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoomTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListRoomTypeResult" nillable="true" type="q46:ArrayOfRoomType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoomType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q47:ArrayOfRoomType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoomTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="roomId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomStatusIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomTypeIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="floor" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="showLegacy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListRoomResult" nillable="true" type="q48:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q49:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoomEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomEquipmentId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="roomId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoomEquipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListRoomEquipmentResult" nillable="true" type="q50:ArrayOfRoomEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoomEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q51:ArrayOfRoomEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoomEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoomService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomServiceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="roomId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoomServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListRoomServiceResult" nillable="true" type="q52:ArrayOfRoomService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoomService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q53:ArrayOfRoomService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoomServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="imageTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="loadType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListImageResult" nillable="true" type="q54:ArrayOfImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q55:ArrayOfImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="roomId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookingId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="bookingStatusIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookDateStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bookDateEnd" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListBookingResult" nillable="true" type="q56:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q57:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBookingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBookingRoomEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingRoomEquipmentId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="bookingId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="roomEquipmentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBookingRoomEquipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListBookingRoomEquipmentResult" nillable="true" type="q58:ArrayOfBookingRoomEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBookingRoomEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q59:ArrayOfBookingRoomEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBookingRoomEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBookingRoomService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingRoomServiceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="bookingId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="roomServiceId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBookingRoomServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="ListBookingRoomServiceResult" nillable="true" type="q60:ArrayOfBookingRoomService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBookingRoomService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Mimosa.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q61:ArrayOfBookingRoomService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBookingRoomServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>